:root {
    --topHeight: 150px;
    --gridSize: 750px;
    --footerWidth: 50px;
    --sliderWidth: 150px;
    --controlsGap: -100px;
    --controlsWidth: 75px;
    --navItemSize: 3em;
    --navOptionSize: 1em;
    --selectedColor: hsl(241, 100%, 50%);
    --transitionSpeed: 0.5s;
    --themeColor: white;
    --oppositeTheme: black;
    --themeHover: yellow;
    --shadowSize: 1px;
    --shadowHue: black;
    --titleSize: 4em;
    --themeFont: sans-serif;
}

@media screen and (max-width: 1200px) {
    :root {
        --gridSize: 500px;
        --controlsWidth: 50px;
        --navItemSize: 2em;
        --navOptionSize: 0.95em;
    }
}
@media screen and (max-width: 1000px) {
    :root {
        --gridSize: 450px;
    }
}

body {
    font-family: var(--themeFont);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--themeColor);
}

/* dark title */
.darkTitle {
    font-size: var(--titleSize);
    background: -webkit-linear-gradient(to left, #39FF14, purple);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #39FF14, purple); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.alive {
    color: white;
    animation-name: blink;
    animation-duration: 4s;
}

h1 {
    color: hotpink;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    width: var(--controlsWidth);
    height: 100%;
    left: var(--controlsGap);
}

.navBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--oppositeTheme);
    border: 2px solid var(--selectedColor);
    box-shadow: 5px 5px var(--shadowSize) var(--shadowHue);
    font-size: var(--navItemSize);
    width: 100%;
    height: var(--controlsWidth);
}

.gridOptions, .paintOptions {
    width: 100%;
    font-size: var(--navOptionSize);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.option {
    color: var(--oppositeTheme);
    font-size: var(--navOptionSize);
    display: block;
    text-align: center;
    border: 2px solid var(--selectedColor);
    box-shadow: 5px 5px var(--shadowSize) var(--shadowHue);
    padding: 5px;
}

.btn {transition: .15s ease;}
.btn:hover {
    background-color: var(--themeHover);
    transition: .15s ease;
}

.navSubMenu {
    border: 1px solid red;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0; 
    height: var(--gridSize);
    width: var(--sliderWidth);
    transition: 2s ease;
}

.disabled {
    display: none;
}

.grid {
    display: grid;
    border: 2px solid var(--selectedColor);
    box-shadow: 5px 5px var(--shadowSize) var(--shadowHue);
    height: var(--gridSize);
    width: var(--gridSize);
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}

/* .pixel {
    border: 1px solid blue;
} */

.bottomBorder {
    position: absolute;
    bottom: calc(var(--footerWidth) * -1);
    height: var(--footerWidth);
    width: var(--gridSize);
    color: var(--oppositeTheme);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
}

.topBorder {
    position: absolute;
    top: calc(var(--footerWidth) * -1);
    height: var(--footerWidth);
    width: var(--gridSize);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
}