:root {
    --gridSize: 750px;
    --borderWidth: 50px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
}

h1 {
    color: hotpink;
}

.main {
    /* border: 1px solid red;  */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.grid {
    display: grid;

    border: 1px solid black;

    height: var(--gridSize);
    width: var(--gridSize);

    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}

.pixel {

}


/* Final feature: "save" function will convert grid to a jpeg and display it along the border
.topBorder {
    border: 1px solid green;

    position: absolute;
    top: calc(var(--borderWidth) * -1);
    left: calc(var(--borderWidth) * -1);
    height: var(--borderWidth);
    width: calc(var(--gridSize) + var(--borderWidth) + var(--borderWidth));

    display: flex;
}
.rightBorder {
    border: 1px solid green;

    position: absolute;
    right: calc(var(--borderWidth) * -1);
    height: var(--gridSize);
    width: var(--borderWidth);

    display: flex;
    flex-direction: column;
}
.bottomBorder {
    border: 1px solid green;

    position: absolute;
    bottom: calc(var(--borderWidth) * -1);
    left: calc(var(--borderWidth) * -1);
    height: var(--borderWidth);
    width: calc(var(--gridSize) + var(--borderWidth) + var(--borderWidth));

    display: flex;
}
.leftBorder {
    border: 1px solid green;

    position: absolute;
    left: calc(var(--borderWidth) * -1);
    height: var(--gridSize);
    width: var(--borderWidth);

    display: flex;
    flex-direction: column;
} */