:root {
    --topHeight: 150px;
    --gridSize: 750px;
    --footerWidth: 50px;
    --sliderWidth: 150px;
    --controlsGap: -100px;
    --controlsWidth: 75px;
    --navItemSize: 3em;
    --selectedColor: blue;
    --transitionSpeed: 0.5s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.top {
    height: var(--topHeight);
}

h1 {
    color: hotpink;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    width: var(--controlsWidth);
    height: 100%;
    left: var(--controlsGap);
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid var(--selectedColor);
    box-shadow: 5px 5px 1px;
    font-size: var(--navItemSize);
    width: 100%;
    height: var(--controlsWidth);
}

.disabled {
    display: none;
}

.grid {
    display: grid;
    border: 1px solid black;
    box-shadow: 5px 5px 1px;
    height: var(--gridSize);
    width: var(--gridSize);
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}

.pixel {
    border: 1px solid blue;
}

.bottomBorder {
    position: absolute;
    bottom: calc(var(--footerWidth) * -1);
    height: var(--footerWidth);
    width: var(--gridSize);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sliderContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: calc(var(--sliderWidth) * -1);
    height: var(--gridSize);
    width: var(--sliderWidth);
    transition: 2s ease;
}